$header-length: 11vh;
@font-face {
    font-family: "title-font";
    src: url("../assets/uni-sans/Uni\ Sans\ Heavy.otf");
}

@font-face {
    font-family: "nav-font";
    src: url("../assets/uni-sans/Uni\ Sans\ Thin.otf");
    
}

header {
    height: $header-length;
    width: 100%;
    background-color: #EAFFFD;
    color: #6B5E62;
    border-bottom: 1px solid black;
}
.profile-option {
    width: 100%;
    height: 100%;
}
.navigation {
    height: 100%;
    padding: .5em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h1 {
        font-family: Impact, "Haettenschweiler", 'Arial Narrow Bold', sans-serif;
        font-size: 3em;
        flex: 1;
    }
    .image-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .image-container{
        max-width: 5vh;
        max-height: 5vh;
        position:relative;
        .profile-options{
            background-color: white;
            min-width: 5em;
            position: absolute;
            bottom: 0%;
            left: 0;
            font-size: 2em;
            transform: translate(-70%, 100%);
            display: flex;
            flex-direction: column;
            border-radius: 1em;
            font-family: "nav-font", sans-serif;
        }
        .profile-option {
            background-color: #C9F0FF;
            &:hover {
                background-color: #ccc;
            }
            font-size: .8em;
        }
        .home-button {
            border-radius: .5em .5em 0 0em;
        }
        .logout-button {
            border-radius: 0em 0em .5em .5em;
        }
        .profile {
            flex: 1;
            border-radius: 1em;
            &:hover {
                background-color: #ccc;
            }
        }
    }
    .profile-pic {
        max-width: 100%;
        max-height: 100%;
        border-radius: 100%;
    }
}
/// Search bar components
.body-container {
    display: flex;
    justify-content: center;
}
.main-container {
    padding: 1em;
    width: clamp(50%, 1300px, 80%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}
.title {
    text-align: center;
    font-weight: bolder;
}
.search-bar {
    display: flex;
    border: 1px solid black;
    border-radius: 2em;  
    background-color: rgb(235,235,235);
    width: 80%;
    border-bottom: 1px solid black;
}
.location{
    flex: 2;
}
.start-date, .end-date, .number-of-guests {
    flex: 1;
}
.location, .start-date, .end-date, .number-of-guests {
    color: black;
    padding: .8em;
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    font-size: 1.1em;
    &:hover{
        background-color: rgb(221,221,221);

    }

}
.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25em;
    font-size: 1.3em;
    padding: .8em;
}

// Display homes

.view-filter {
    display: flex;
    width: 100vw;
    padding: 2em;
    gap: 2em;

}
.view-homes {
    flex: 8;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1em;
    position: relative;
    .no-results{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translateX(-50%);
        font-size: 1.2em
    }
}
.filter {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.home {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 20;
}
.home-image{
    height: 20em;
    border-radius: 1em;
    
}
.home-information {
    width: 100%;
    flex: 1;
    border: flex;
}
.owner-origin, .languages-spoken, .stay-price {
    font-size: .8em;
    color: grey;
    
}
#root{
    display: relative;
}
.background {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255,255,255,.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sign-up-form {
    background-color: white;
    border: 1px solid black;
    padding: 1em;
    border-radius: 1em;

}