.loading{
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100vh';
}
.dots{
    width: '20px';
    height: '20px';
    border-radius: '50%';
    background-color: 'blue';
    margin-right: '10px',
}